<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Insta-Kilo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C717DF81D3AA11F00A174A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C717E111D3AA11F00A174A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C717E1C1D3AA11F00A174A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
